
.sidebar{
  position: fixed;
  z-index: 100;
  left: 0;
  top: 58px;

  width: 308px;
  height: 100%;
  background: #F8F8F8;
  border-right: solid #E2E2E2 1px;
}

.sidebar-label{
  padding: 14px;
  box-sizing: border-box;
  border-bottom: solid #E2E2E2 1px;
}

@import "responsive";
