@font-face {
  font-family: "Source Sans Pro";
  src: url("~/src/assets/fonts/SourceSansPro-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("~/src/assets/fonts/SourceSansPro-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}